*.DDS binary
*.bmp binary
*.jpg binary
*.jpeg binary
*.png binary
*.ico binary
*.sdkmesh binary
*.rar binary
*.dll binary
*.exp binary
*.ilk binary
*.lib binary
*.pdb binary
*.fbx binary
*.tga binary
*.dae binary
*.blend binary
*.3ds binary